{% extends "base.html" %} {% block pageContent %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>CARDIOVASCULAR DISEASE</h1>
      <p><span class="typed" data-typed-items="
        C.V.D is a general term for conditions affecting the heart or blood vessels. It's usually associated with a build-up of fatty deposits inside the arteries (atherosclerosis) and an increased risk of blood clots.,
        TYPES OF CARDIOVASCULAR DISEASE,
        - Coronary heart disease -> occurs when the flow of oxygen-rich blood to the heart muscle is blocked or reduced.,
        - Strokes and TIAs -> occurs where the blood supply to part of the brain is cut off which can cause brain damage and possibly death.,
        - Peripheral arterial disease -> occurs when there's a blockage in the arteries to the limbs usually the legs.,
        - Aortic disease -> this is a group of conditions affecting the aorta. This is the largest blood vessel in the body which carries blood from the heart to the rest of the body."
        ></span></p></p></p>
        
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  
  {% endblock pageContent %}
